<h1>Listing blog2s</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blog2s.each do |blog2| %>
  <tr>
    <td><%= blog2.title %></td>
    <td><%= blog2.body %></td>
    <td><%= link_to 'Show', blog2 %></td>
    <td><%= link_to 'Edit', edit_blog2_path(blog2) %></td>
    <td><%= link_to 'Destroy', blog2, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog2', new_blog2_path %>
