<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog2.title %>
</p>

<p>
  <b>Body:</b>
  <%= @blog2.body %>
</p>


<%= link_to 'Edit', edit_blog2_path(@blog2) %> |
<%= link_to 'Back', blog2s_path %>
